table#grille {

}
table#grille tr {
/*background-color: blue;*/
}

table#grille tbody tr td {
    margin: 2em !important;
    background-color: #000;
}

.active {
    background-color: blue !important;
}
.visited {
    background-color: mediumpurple !important;
}
.dead-end {
    background-color: #8c8c8c !important;
}
.chemin {
    background-color: #5bc0de;
}